body {
    background-color: rgb(63, 63, 63);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    position:inherit;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: lightsteelblue;
    text-align: center;
    padding: 25px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-small;
    color: white;
}

.calculator-app {
    position: relative;
    top: -50px;
}

/* calculator border */
.container {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    border-radius: 10px;
    max-width: 500px;
    align-content: center;
    overflow: hidden;
}


/* display */
#display {
    display: flex;
    height:25px;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: -10px;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    border: none;
    background-color: lightblue; 
    color: white;
    font-weight: bold;
    font-size:25px;
}

/* buttons */
button {
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 110px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: hsl(0, 0%, 67%);
}

button:hover {
    background-color: hsl(0, 0%, 45%);
}

button:active {
    background-color: hsl(0, 0%, 35%);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding:25px;
    gap: 0.4rem;
}

.buttons .operator {
    background-color: hsl(0, 0%, 86%);
}

.buttons .operator:hover {
    background-color: hsl(0, 0%, 90%);
}
.buttons .operator:active {
    background-color: hsl(0, 0%, 95%);
}

.buttons .calculate {
    background-color: hsl(204, 67%, 71%);
}

.buttons .calculate:hover {
    background-color: hsl(204, 51%, 75%);
}

.buttons .calculate:active {
    background-color: hsl(204, 51%, 90%);
}

